useDynLib(hoalme, .registration=TRUE)
importFrom(nlme, intervals)
importFrom(numDeriv, grad, hessian)
export(conslmeObjects, hypotheses, hoalme, lmeObject, QStatistic, RStar, secondDeriv, signedRoot, V)

#methods for new generics
S3method("bdMatrices", default)
S3method("cholDeriv", default)
S3method("Coef", lmeObject)
S3method("Coef", lmeStructInt)
S3method("Coef", modelStruct)
S3method("Coef", pdBlocked)
S3method("Coef", pdCompSymm)
S3method("Coef", pdDiag)
S3method("Coef", pdIdent)
S3method("Coef", pdLogChol)
S3method("Coef", pdNatural)
S3method("Coef", pdSymm)
S3method("Coef", reStruct)
S3method("Coef<-", pdSymm)
S3method("Coef<-", pdLogChol)
S3method("Coef<-", pdCompSymm)
S3method("Coef<-", pdIdent)
S3method("Coef<-", pdDiag)
S3method("Coef<-", pdBlocked)
#S3method("Coef<-", pdNatural)
S3method("Coef<-", reStruct)
S3method("Coef<-", modelStruct)
S3method("Coef<-", lmeStructInt)
S3method("Coef<-", lmeObject)
S3method("conslmeObjects", lmeObject)
S3method("consFixedEffects", lmeObject)
S3method("Crossprod", default)
S3method("Crossprod", groupsList)
S3method("Crossprod", matrix)
S3method("Crossprod", array)
S3method("Diag", pdDiag)
S3method("Diag", pdIdent)
S3method("Diag", pdSymm)
S3method("Diag", pdCompSymm)
S3method("Diag", pdBlocked)
S3method("Diag", pdLogChol)
S3method("Diag", reStruct)
S3method("Diag", lmeStructInt)
S3method("Diag", lmeStruct)
S3method("groupsList", default)
S3method("Hessian", lmeObject)
S3method("Hessian", conslmeObjects)
S3method("hoalme", lmeObject)
S3method("hoalme", RStar)
S3method("hypotheses", default)
S3method("hypotheses", pdMat)
S3method("hypotheses", reStruct)
S3method("hypotheses", conslmeObjects)
S3method("intervals", lmeObject)
S3method("intervals", RStar)
S3method("intervals", signedRoot)
S3method("lmeObject", formula)
S3method("lmeObject", lme)
S3method("pdDeriv", pdIdent)
S3method("pdDeriv", pdCompSymm)
S3method("pdDeriv", pdSymm)
S3method("pdDeriv", pdDiag)
S3method("pdDeriv", pdLogChol)
S3method("pdDeriv", pdBlocked)
S3method("pdDeriv", reStruct)
S3method("pdDeriv", lmeStruct)
S3method("pdDeriv", lmeObject)
S3method("pdDeriv", respStruct)
S3method("respStruct", lmeObject)
S3method("respStruct", conslmeObject)
S3method("secondDeriv", lmeObject)
S3method("secondDeriv", conslmeObject)
S3method("secondDeriv", conslmeObjects)
S3method("Sum", groupsList)
S3method("Sum", list)
S3method("Sum", groupsList)
S3method("Sum", groupsList)
S3method("QStatistic", lmeLogLik)
S3method("QStatistic", lmeObject)
S3method("QStatistic", conslmeLogLik)
S3method("QStatistic", conslmeLogLiks)
S3method("QStatistic", RStar)
S3method("RStar", default)
S3method("RStar", lmeObject)
S3method("RStar", hoalme)
S3method("signedRoot", RStar)
S3method("signedRoot", lmeObject)
S3method("signedRoot", conslmeObjects)
S3method("Tcrossprod", default)
S3method("Tcrossprod", groupsList)
S3method("Tcrossprod", matrix)
S3method("Tcrossprod", array)
S3method("V", default)
S3method("V", lmeObject)
S3method("V", respStruct)
S3method("Var", reStruct)
S3method("Var", respStruct)
S3method("Var", lmeStruct)

#methods for generics from other packages
S3method("chol", pdDiag)
S3method("chol", pdLogChol)
S3method("chol", pdSymm)
S3method("chol", pdCompSymm)
S3method("chol", pdIdent)
S3method("chol", pdBlocked)
S3method("chol", reStruct)
S3method("chol", lmeStructInt)
S3method("coef", lmeObject)
S3method("determinant", secondDeriv)
S3method("logLik", conslmeObject)
S3method("logLik", conslmeObjects)
S3method("logLik", lmeObject)
S3method("model.matrix", consFixedEffects)
S3method("model.matrix", lmeObject)
S3method("model.matrix", respStruct)
S3method("names", groupsList)
S3method("names<-", groupsList)
S3method("plot", conslmeObjects)
S3method("plot", QStatistic)
S3method("plot", RStar)
S3method("plot", signedRoot)
S3method("print", conslmeObjects)
S3method("print", lmeObject)
S3method("print", Hessian)
S3method("print", hoalme)
S3method("print", intervals.RStar)
S3method("print", intervals.signedRoot)
S3method("print", QStatistic)
S3method("print", RStar)
S3method("print", secondDeriv)
S3method("print", signedRoot)
S3method("print", summary.hoalme)
S3method("print", V)
S3method("residuals", respStruct)
S3method("solve", groupsList)
S3method("summary", hoalme)
S3method("summary", lmeObject)
S3method("update", RStar)
S3method("$", Object)
S3method("$<-", Object)
S3method("[[", Object)

